<h2>All the flats</h2>

<ul>
  <% @flats.each do |flat| %>
    <li>
      <div> <%= link_to flat.name, flat_path(flat) %> </div>
      <div> <%= flat.description %> | <%= flat.address %> </div>
      <div> <%= flat.price_per_night %>$ | <%= flat.number_of_guests %> guests </div>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new flat", new_flat_path  %>
